# ===== custom =====
# http req/res log (in logger dir)
http.logging.enabled=false
# mysql dummy data insert (in dummy dir)
dummy.loader.mysql.enabled=true
# ===== jpa =====
spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=false
spring.jpa.open-in-view=false
# ===== mysql =====
spring.datasource.url=jdbc:mysql://{$YOUR_ADDRESS}/{$YOUR_SCHEMA}?{$YOUR_OPTIONS}&rewriteBatchedStatements=true
spring.datasource.username={$YOUR_NAME}
spring.datasource.password={$YOUR_PASSWORD}
# ===== prometheus =====
management.endpoints.web.exposure.include=prometheus
management.endpoints.prometheus.enabled=prometheus
management.metrics.tags.application=bdt-server
# ========== disabled ==========
# ===== hikari =====
#spring.datasource.hikari.maximum-pool-size=
#spring.datasource.hikari.minimum-idle=
#spring.datasource.hikari.connection-timeout=
#spring.datasource.hikari.idle-timeout=
#spring.datasource.hikari.max-lifetime=
# ===== tomcat =====
#server.tomcat.threads.max=
#server.tomcat.accept-count=
# ===== spring-devtools =====
#spring.devtools.restart.enabled=true
#spring.devtools.restart.additional-exclude=static/**,public/**
# ===== redis =====
spring.data.redis.host={$YOUR_HOST}
spring.data.redis.port={$YOUR_PORT}
spring.data.redis.password={$YOUR_PASSWORD}
# ===== thymeleaf =====
spring.thymeleaf.cache=false

# 레디스 키 컨벤션 - 도메인:목적:타입:식별자
redis.keys.post-like.batch.meta-time=post-like:batch:meta:last-time
redis.keys.post-like.batch.meta-seq=post-like:batch:meta:last-seq
redis.keys.post-like.batch.queue-set=post-like:batch:queue
redis.keys.post-like.batch.status-prefix=post-like:batch:status:
redis.keys.post-like.batch.snapshot-prefix=post-like:batch:snapshot:
redis.keys.post-like.realtime.status-prefix=post-like:realtime:status:
